.footer {
    margin-top: 72px;
    background: rgb(207, 209, 196); /* светло-зелёный */
    padding: 40px 20px;
    font-family: Literata, sans-serif;
}
.footer-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* адаптивность */
    gap: 40px;
    padding-top: 40px;
}

.footer-header .footer-box {
    flex: 1 1 200px; /* гибкая ширина */
    min-width: 200px;
}

.contact-item {
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
    margin-bottom: 8px;
}

.contact-item img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.contact-item p {
    margin: 0;
    font-size: 12px;
    color: rgb(2, 15, 1);
}


.footer-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Чтобы не ломалось на маленьких экранах */
    gap: 40px;
    margin-bottom: 40px;
}

.footer-box {
    max-width: 250px;
}

.footer-box-title {
    padding-bottom: 16px;
    color: rgb(2, 15, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 2.0;
    text-align: left;
}

.footer-link {
    display: block;
    color: rgba(2, 15, 1, 0.66);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.6;
    text-decoration: none;
    margin-bottom: 6px;
    transition: 0.3s;
}

.footer-link:hover {
    color: rgb(2, 15, 1);
}

.footer-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
}

.footer-right h2 {
    font-size: 16px;
    color: rgb(2, 15, 1);
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-centent p,
.footer-left p {
    font-size: 12px;
    color: rgb(2, 15, 1);
    margin-bottom: 6px;
}

.footer-left img {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}
